<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection Gallery</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/gallery.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav>
            <a id='brand-name' class='nav-links' href='/'>CHRIS SANTIAGO</a>
            <ul>
                <li><a class='nav-links' href='/'>ABOUT</a></li>
                <li><a class='nav-links' href='../views/gallery.html'>GALLERY</a></li>
                <li><a class='nav-links' href='../views/contact.html'>CONTACT</a></li>
            </ul>
        </nav>
    </header>
    <h1 class='page-title'>COLLECTION</h1>
    <main id='gallery-container'>
        <div class='zoom-container'>
            <img src="https://source.unsplash.com/3Zy3pR28IKc/" alt="">
        </div>
        <div class='zoom-container'>
            <img src="https://source.unsplash.com/bw5a4zQMRCI/" alt="">
        </div>
        <div class='zoom-container'>
            <img src="https://source.unsplash.com/_YSw0SO_pIo/" alt="">
        </div>
        <div class='zoom-container'>
            <img src="https://source.unsplash.com/eVWWr6nmDf8/" alt="">
        </div>
        <div class='zoom-container'>
            <img src="https://source.unsplash.com/Bs-zngH79Ds/" alt="">
        </div>
        <div class='zoom-container'>
            <img src="https://source.unsplash.com/PkyL3p9Kx8c/" alt="">
        </div>

        <div class='zoom-container'>
            <img src="https://source.unsplash.com/feXpdV001o4/" alt="">
        </div>

        <div class='zoom-container'>
            <img src="https://source.unsplash.com/bjsaHc2jx3Y/" alt="">
        </div>
        
        <div class='zoom-container'>
            <img src="https://source.unsplash.com/FrWStnBsfxI/" alt="">
        </div>

        <div class='zoom-container'>
            <img src="https://source.unsplash.com/p0j-mE6mGo4/" alt="">
        </div>

        <div class='zoom-container'>
            <img src="https://source.unsplash.com/LKsHwgzyk7c/" alt="">
        </div>

        <div class='zoom-container'>
            <img src="https://source.unsplash.com/BDiHqKIxDUU/" alt="">
        </div>
    </main>

    <footer>
        <blockquote>It is only through labor and painful effort, by grim energy and resolute courage, that we move on to better things</blockquote> <cite>- Theodore Roosevelt</cite>
        <section class='footer-info'>
            <p>&copy; Chris Santiago - 2021</p>
            <div class='social-links'>
                <ul>
                    <li><a class='social-link' href="http://github.com/resolutecoder"><i class="fa fa-github-alt" aria-hidden="true"></i>
                    </a></li>
                    <li><a class='social-link' href="https://codepen.io/resolutecoder/"><i class="fa fa-codepen" aria-hidden="true"></i>
                    </a></li>
                    <li><a class='social-link' href="http://csantiago.dev"><i class="fa fa-user" aria-hidden="true"></i>
                    </a></li>
                </ul>
            </div>
        </section>        
    </footer>
</body>
</html>