/* Page Variations */

body {
    margin: 10px;
}

nav {
    border-bottom: 1px solid silver;
}

#brand-name {
    color: #444;
}


footer { 
    margin-left: -10px;
    margin-right: -10px;
}


/* Gallery */

#gallery-container {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
}

.zoom-container {
    overflow: hidden;
    height: 350px;
}

img {
    width: 100%;
    transition: transform ease 0.2s;
}

img:hover {
    opacity: 0.9;
    transform: scale(1.2);
}

@media screen and (max-width: 950px) {
    .zoom-container {
        height: 200px;
    }
}

@media screen and (max-width: 600px) {
    #gallery-container {
        grid-template-columns: 1fr;
    }
    .zoom-container {
        height: 350px;
    }
}